@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer utilities {
	/* Extra small devices (phones, 600px and down) */
	@media screen and (max-width: 800px) {
		html {
			font-size: 8px;
		}
	}

	/* Small devices (portrait tablets and large phones, 600px and up) */
	@media screen and (min-width: 600px) {
		html {
			font-size: 8px;
		}
	}

	/* Medium devices (landscape tablets, 768px and up) */
	@media screen and (min-width: 768px) {
		html {
			font-size: 12px;
		}
	}

	/* Large devices (laptops/desktops, 992px and up) */
	@media screen and (min-width: 992px) {
		html {
			font-size: 14px;
		}
	}

	/* Extra large devices (large laptops and desktops, 1200px and up) */
	@media screen and (min-width: 1200px) {
		html {
			font-size: 16px;
		}
	}
}

@media (max-width: 640px) {
	.logo-image {
		width: 80%; /* Set a smaller width for smaller screens */
		margin-left: 4rem; /* Adjust the margin for smaller screens */
	}
}
